*.py[cod]

# C extensions
*.so

# Packages
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
new/*
old/*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea/
TreeSAPP.Rproj
.Rhistory
.RData
.python-version*


# Data
output*
.Rproj.user
dev_utils/
*.amb
*.ann
*.bwt
*.pac
*.sa
