biopython >=1.78
ete3 >=3.1.2
joblib ==0.15.1
numpy >=1.18.1
packaging >=20.4
pyfastx >=0.6.17
pygtrie >=2.3.3
samsum >=0.1.2
scikit-learn ==0.23.1
scipy >=1.5.2
six >=1.14.0
seaborn >=0.11.0
tqdm >=4.48.2